@import '../node_modules/bootstrap/scss/bootstrap';



.hero-section {
    background-image: url('../assets/hero image.png');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    text-align: center;
    padding: 100px 0;
    min-height: 70vh;
}

.hero-section h1 {
    padding-top: 100px;
    padding-bottom: 1rem;
    font-size: 5rem;
    font-weight: bold;
}

.hero-section p {
    font-size: 1.2rem;
    padding-bottom: 1rem;
}
 
.btn-pill {
    border-radius: 50rem;
}

.feature-box {
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    margin-bottom: 30px;
}

.feature-icon {
    font-size: 3rem;
    margin-bottom: 20px;
}

.feature-title {
    font-size: 1.5rem;
    margin-bottom: 10px;

}

.feature-description {
    font-size: 1rem;
}

