$primary: #FE7743;
$light: #EFEEEA;
$secondary: #EEC170;
$info: #EEC170;
$dark: #273F4F;




// import the functions & variables
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

// custom theme colours
$custom-theme-colors: (
  "altlight": #f2ebfa,
  "altdark": #522192
);

// merge the maps to add new theme colors
$theme-colors: map-merge($custom-theme-colors, $theme-colors);


@import '../node_modules/bootstrap/scss/bootstrap';

.hero-section {
    background-image: url('../assets/heroimage.png');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    text-align: center;
    padding: 100px 0;
    min-height: 70vh;
}

.hero-section h1 {
    padding-top: 100px;
    padding-bottom: 1rem;
    font-size: 3rem;
    font-weight: bold;
}

.hero-section p {
    font-size: 1.2rem;
    padding-bottom: 1rem;
}
 
.btn-pill {
    border-radius: 50rem;
}

.feature-box {
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    margin-bottom: 30px;
}

.feature-icon {
    font-size: 3rem;
    margin-bottom: 20px;
}

.feature-title {
    font-size: 1.5rem;
    margin-bottom: 10px;

}

.feature-description {
    font-size: 1rem;
}
.video-section {
    position: relative;
    width: 100%;
    height: 70vh; /* full height */
    overflow: hidden;
    display: flex;            
    align-items: center;   

}


#bgVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;  /* fill entire screen */
    z-index: -1;  /* behind content */
    min-width: 100% !important;
    min-height: 100% !important;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
}

.text-overlay {
    position: relative;
    z-index: 2; /* ensure text is on top */
}

.video-section {
    min-height: 100vh !important;
    height: 100vh !important;
}


.treener-section {
    background: black;
    min-height: 500px;
}

.carousel-item img {
    height: 400px;
    object-fit: cover;
}

footer {
    background-color: black;
    color: #fff;
    padding: 3rem 0;
  }

  .social-icons a {
    font-size: 1.25rem;
  }